body,
div {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.row,
.col,
.col-4,
.col-8 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
}
.container-wrapper {
  border: 3px solid blue;
  box-shadow: 0 5px 10px rgb(64, 187, 228);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0 100%),
    url(https://media.istockphoto.com/photos/blue-sky-background-and-white-clouds-soft-focus-and-copy-space-picture-id1128410927?k=20&m=1128410927&s=612x612&w=0&h=6d_L7Fxea-KaLzuEGIm7n1IbkRLwy9pNRVOlByPuDLg=);
  background-size: cover;
}
.main-info-block {
  height: 120px;
  font-size: 3em;
  font-weight: 900;
  border: 2px dotted rgb(64, 187, 228);
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 5px 10px;
}
.temperature-description {
  font-size: 1em;
}
.weather-description-img {
  width: 68px;
}
.weather-description-text {
  font-size: 1em;
  padding: 0 0 5px 0;
  line-height: 1em;
}
.weather-description-text::first-letter {
  text-transform: capitalize;
}
.temperature-description .active {
  color: black;
  cursor: default;
}
.units {
  font-size: 0.5em;
  position: relative;
  top: -12px;
}
.forecast-wrapper {
  border: 2px dotted rgb(64, 187, 228);
}
.current-city-date {
  padding: 0 5px 0 15px;
}
.current-city {
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
}
.current-date {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}

.detailed-list {
  margin: 0;
  padding: 5px 0 0;
  list-style: none;
  text-align: left;
  font-style: italic;
}

.citate {
  font-size: 1.4em;
  line-height: 1.3;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 500;
  text-align: right;
  padding: 0 5px 0 10px;
  margin: 10px 0 0 5px;
}

.day-name,
.day-temperature {
  font-weight: 600;
  text-align: center;
}

.small-icons {
  width: 24px;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.form-label {
  padding: 5px 0 0 0;
  font-weight: 600;
  margin: 0;
}
.btn {
  display: block;
  border: 1px solid blue;
  padding: 0;
  width: 60%;
  margin: 7px auto 2px;
}
.search-panel {
  padding: 0 0 0 20px;
}
.search-text {
  margin: 5px 0 0 0;
  padding: 0 0 0 5px;
  font-weight: 600;
}

.copyright {
  font-size: 0.7em;
  font-weight: 600;
  font-family: "Edu VIC WA NT Beginner", cursive;
  margin: 10px auto;
  padding: 0;
  text-align: start;
  line-height: 0.9;
}
.copyright p {
  margin: 0;
}
.copyright-icon {
  width: 40px;
}

#search-city {
  font-size: 0.8em;
}

#fahrenheit-symbol,
#celsius-symbol {
  text-decoration: none;
}

@media screen and (max-width: 499px) {
  body,
  div,
  .btn,
  .units {
    font-size: 10px;
  }
  .weather-description {
    font-size: 2em;
    line-height: 1em;
  }
  .search-text {
    margin: 25px 0 0 0;
  }
  .copyright {
    font-size: 0.5em;
    margin: 30px 0 0 0;
  }
  .main-image {
    width: 35px;
  }
}

.my-git-hub {
  margin: 30px auto 10px;
  text-align: center;
}
